a{
text-decoration: none;
}
.hero_content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  padding: 5vw;
  height: 100vh;
}

.circlebtn_cursor {
/*   position: absolute; */
  left: 0;
  top: 0;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}
.circlebtn_cursor :hover.circlebtn-cursor__text {
  color: #FFC300;
}
.circlebtn_cursor .circlebtn-cursor__text {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}
.circlebtn_cursor .circlebtn-cursor__text .char {
  position: absolute;
}
/* footer */
.mr-5{
	margin-right: 0.5em;
}
.ml-5{
	margin-left: 0.5em;
}
.btn{
	padding: 5px 25px;
  color: #fff;
	border: 0.5px solid #fff;
	border-radius: 5px;
	transition: .3s ease-in-out;
}
.btn:hover{
	background-color: #fff;
	color: #2EC4B6;
}
.footer{
	position: absolute;
	bottom: 0;
	height: 56px;
	width: 100%;
	padding: 1em;
	text-align: center;
	color: #fff;
}
